/* 縦長の時 */
@media (orientation: portrait) {
    #movie *{
        width:100%;
    }
    #movie {
        margin-bottom:10px;
    }
    
    #thumbnails *{
        width:100%;
    }
    #thumbnails{
        height: 400px;
        overflow: scroll;
    }
    .thumbnail{
        background: #d7ebfe;
        margin-bottom: 10px;
        border-radius: 5px;
        border: solid 3px #067dec;
    }
    a[target=_blank][class=movie-title] {
        padding-right: 20px;
        background: url(../img/up-right-from-square-solid.svg) right center/11px auto no-repeat;
    }
    
    .balloon5 {
        width: 100%;
        margin: 0px;
        padding: 2px;
        overflow: hidden;
    }
    
    .balloon5 .faceicon {
    float: left;
    margin-right: -90px;
    width: 80px;
    }
    
    .balloon5 .faceicon img{
    width: 100%;
    height: auto;
    border: solid 3px #d7ebfe;
    border-radius: 50%;
    }
    
    .balloon5 .chatting {
    width: 100%;
    }
    
    .says {
    display: inline-block;
    position: relative; 
    margin: 5px 0 0 105px;
    padding: 17px 13px;
    border-radius: 12px;
    background: #d7ebfe;
    }
    
    .says:after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 18px; 
    left: -24px;
    border: 12px solid transparent;
    border-right: 12px solid #d7ebfe;
    }
    
    .says p {
    margin: 0;
    padding: 0;
    }
    .site-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #select {
        /*デフォルトのスタイルを解除 */
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        /*スタイル */
        display: inline-block;
        /* width: 100%;
        max-width: 250px; */
        margin: 10px; /* 前後の余白 */
        padding: 0.6em 1.5em 0.6em 0.5em; /* 文字周りの余白 */
        cursor: pointer; /* カーソルを指に */
        line-height: 1.4; /* 行高 */
        font-size: 0.95em; /* フォントサイズ */
        color: #333; /* 文字色 */
        border-radius: 4px; /* 角丸 */
        background-color: #f7f9fb; /* 背景色 */
        border: solid 1px #e1e8ef; /* 枠線 */
        box-shadow: 0 3px 3px -2px rgba(3, 29, 41, 0.15); /* 影 */
        /*三角マークを作る */
        background-image: linear-gradient(45deg, transparent 50%, rgba(0,0,0,0.4) 50%),  linear-gradient(135deg, rgba(0,0,0,0.4) 50%, transparent 50%);
        background-size: 5px 5px, 5px 5px;
        background-position: calc(100% - 15px) 50%, calc(100% - 10px) 50%;
        background-repeat: no-repeat;
    }
}
/* 横長の時 */
@media (orientation: landscape) {
    .contents #thumbnails{
        width:40%;
    }
    .contents #movie{
        width:60%;
    }
    .contents{
        display: flex;
        
    }
    #movie *{
        width:100%;
    }
    
    #thumbnails *{
        width:100%;
    }
    #thumbnails{
        height: 400px;
        overflow: scroll;
    }
    .thumbnail{
        background: #d7ebfe;
        margin-bottom: 20px;
        border-radius: 5px;
        border: solid 3px #067dec;
    }
    a[target=_blank][class=movie-title] {
        padding-right: 20px;
        background: url(../img/up-right-from-square-solid.svg) right center/11px auto no-repeat;
    }
    .balloon5 {
        width: 100%;
        margin: 1.5em 0;
        padding: 2px;
        overflow: hidden;
    }
    
    .balloon5 .faceicon {
    float: left;
    margin-right: -90px;
    width: 80px;
    }
    
    .balloon5 .faceicon img{
    width: 100%;
    height: auto;
    border: solid 3px #d7ebfe;
    border-radius: 50%;
    }
    
    .balloon5 .chatting {
    width: 100%;
    }
    
    .says {
    display: inline-block;
    position: relative; 
    margin: 5px 0 0 105px;
    padding: 17px 13px;
    border-radius: 12px;
    background: #d7ebfe;
    }
    
    .says:after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 18px; 
    left: -24px;
    border: 12px solid transparent;
    border-right: 12px solid #d7ebfe;
    }
    
    .says p {
    margin: 0;
    padding: 0;
    }
    .site-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #select {
        /*デフォルトのスタイルを解除 */
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        /*スタイル */
        display: inline-block;
        /* width: 100%;
        max-width: 250px; */
        margin: 10px; /* 前後の余白 */
        padding: 0.6em 1.5em 0.6em 0.5em; /* 文字周りの余白 */
        cursor: pointer; /* カーソルを指に */
        line-height: 1.4; /* 行高 */
        font-size: 0.95em; /* フォントサイズ */
        color: #333; /* 文字色 */
        border-radius: 4px; /* 角丸 */
        background-color: #f7f9fb; /* 背景色 */
        border: solid 1px #e1e8ef; /* 枠線 */
        box-shadow: 0 3px 3px -2px rgba(3, 29, 41, 0.15); /* 影 */
        /*三角マークを作る */
        background-image: linear-gradient(45deg, transparent 50%, rgba(0,0,0,0.4) 50%),  linear-gradient(135deg, rgba(0,0,0,0.4) 50%, transparent 50%);
        background-size: 5px 5px, 5px 5px;
        background-position: calc(100% - 15px) 50%, calc(100% - 10px) 50%;
        background-repeat: no-repeat;
    }
}

